<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>chat cat</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class='backdrop'></div>
    <div class='signin'>
      <section>
        <h1>Sign In</h1>
        <input type='text' id='name' name='name' placeholder='name'/>
        <input type='url' id='icon' name='icon' placeholder='avatar url'/>
        <input type='submit' value='Chat Time'/>
      </section>
    </div>

    <div class='leaderboard'>
    </div>

    <div class="historyContainer">
    </div>

    <div class='messages hide'>
      <input type='text' id='send' />
      <input type='submit' value='Send' />
    </div>


    <script type='text/template' id='count'>
      <div class='user'>
        <p><%= name %> : <%= length %></p>
      </div>
    </script>

    <script type='text/template' id='message'>
      <div class='message'>
        <aside>
          <h5><%= name %></h5>
        </aside>
        <section>
          <%= message %>
        </section>
      </div>
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
